<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sen Journal</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "/", class: 'active' do %>
            <span class="glyphicon glyphicon-home"</span> Home
          <% end %>
        </li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Journaux <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">L'Observateur</a></li>
            <li><a href="#">Le Quotidien</a></li>
            <li><a href="#">Walf Fadjri</a></li>
            <li><a href="#">Le Soleil</a></li>
            <li><a href="#">La Gazette</a></li>
            <li><a href="#">Ferloo</a></li>
            <li><a href="#">Le Sud</a></li>
            <li><a href="#">Rewmi</a></li>
            <li><a href="#">Leral</a></li>
            <li><a href="#">Xalima</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li>
          <%= link_to "users/sign_up" do %>
             <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
        </li>

        <li class="dropdown">
          <%= link_to "users/sign_in" do %>
            <span class="glyphicon glyphicon-log-in"></span>
            <b> Login</b>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
