<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SenPresse</title>
    <%= stylesheet_link_tag 'home' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
        </div>
      </div>
    </div>
  </body>
</html>
