<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1></h1>
          <div class="paragraph">
            <h2></h2>
            <p>
              Le Sénégal est un pays de l’Afrique de l’ouest situé entre le Mali, la Mauritanie, la Guinée Bissau et Conakry et l’océan atlantique.<br>
              La Gambie coupe le sud du Sénégal du reste du pays. Auparavant sous l’emprise des empires du Ghana puis du Mali <br>
              (XIIIème et XIVème siècle), le royaume sénégalais du Grand Djoloff fondé par Ndiadiagne NDIAYE s’affranchit peu à peu de <br>
              l’emprise du Mali avant de s’effondrer à son tour en 1550 à cause de l’arrivée des Européens. Ce qui permit aux petits royaumes <br>
              vassaux du Grand Djoloff de prendre leur autonomie ( Cayor, Walo, Baol et Sine-Saloum).<br>
            </p>
          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              Le déclin de tous ces royaumes est dû à l’arrivée des Européens à partir du milieu du XV ème siècle. Mais le commerce <br>
              du bois d’ébène y est pour beaucoup et va ruiner toutes ces contrées pour très longtemps. Des villes comme Nantes, Bordeaux <br>
              ont prospéré grâce au commerce triangulaire entre l’Europe, l’Afrique et l’Amérique. Le Mémorial sur l’esclavage à Nantes <br>
              est bien sûr un rappel mais aussi un témoignage du passé esclavagiste de l’Europe. L’esclavage est aboli par la Convention <br>
              nationale en 1794, puis rétabli par Bonaparte en 1802. Aboli dans l’empire britannique en 183 , en France il l'est définitivement <br>
              par la IIe République en 1848 , sous l'impulsion de Victor Schœlcher .
            </p>

          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              Ce sont les Portugais qui arrivèrent les premiers sur les côtes sénégalaises en 1444. Ils donnèrent le nom de cap-vert <br>
              à cette pointe la plus avancée vers la mer de l’Afrique occidentale en raison de la végétation très touffue à l’époque. <br>
              D’ailleurs Cap-vert était l’ancien nom de la région de Dakar. Ils fondèrent par la suite plusieurs comptoirs (Rufisque Rio <br>
              fresco, Portudal qui deviendra la station balnéaire de saly, et Joal dans le Sine).

            </p>
          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              La compagnie néerlandaise des Indes occidentales fondée en 1621 achète l’île de Gorée en 1627 et y reste pendant un demi-siècle.
            </p>
          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              Le tour des Français viendra bien plus tard, après la guerre de sept ans (France, Angleterre, Espagne) qui permit à la <br>
              France de récupérer l’île de Gorée tandis que l’Angleterre récupère « la Rivière de Sénégal, avec les Forts et Comptoirs <br>
              de St Louis, de Podor, et de Galam, et avec tous les Droits et Dépendances de la dite Rivière de Sénégal ». Le traité de <br>
              Versailles de 1783 permit à la France de récupérer par la suite le Sénégal tandis que la Gambie revenait à l’Angleterre.
            </p>
          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              Faidherbe, gouverneur du Sénégal de 1854 à 1861 et de 1863 à 1865, pénètre lentement à l’intérieur du pays et jette les <br>
              bases de la future Afrique-Occidentale française (AOF). Ce fut lui qui crée en 1857 le premier corps de tirailleurs sénégalaisbr
              qui permit à la France de dominer une grande partie de l’Afrique. La France obtient le contrôle de la plus grande partie de <br>
              l’Afrique occidentale à la Conférence de Berlin de 1884–1885, mais la Gambie est attribuée à la Grande-Bretagne.
            </p>
          </div>
          <div class="paragraph">
            <h2></h2>
            <p>
              À la fin du XIXe siècle tout le territoire de l’actuel Sénégal est tombé sous la domination française. En 1902, Dakar remplace <br>
              Saint-Louis qui devient la capitale de l'Afrique- Occidentale française, l'une des colonies françaises. En 1914, Blaise Diagne natif <br>
              de Gorée (Quatre communes : les natifs de Gorée, Saint-Louis, Dakar, Rufisque étaient citoyens français, les autres africains sujets français)<br>
              devient député puis est nommé commissaire de la république de l’ouest africain chargé de la conscription pendant la première guerre mondiale.
            </p>

          </div>
          <h2>Tirez de http://www.afriquesenlutte.org/spip.php?page=recherche&recherche=moulzo</h2>
          <a href="https://www.alcid.org/images/nantes-histoire-du-senegal-version-longue.pdf"> Referez-vous a ce link pour plus d'histore</a>
        </div>
      </div>
    </div>
  </body>
</html>
