<div class="container-fluid">
  <header class="page-header">
    <div class="row">
      <div class="jumbotron">
        <h2>Fait ton choix</h2>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Editor de Presse</h1>
        </div>
        <div class="panel-body">
          <p>Poster un nombre illimiter de Journal</p>
          <p>Une nouvelle marche</p>
          <p>Preservation de l'enviromment</p>
          <p>Retroaction Instantanee venant des lecteur</p>
          <p>Argent direct verse a ton compte</p>
        </div>
        <div class="panel-footer">
          <h2>Gratuit</h2>
          <h5></h5>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Lecture</h1>
        </div>
        <div class="panel-body">
          <p>Lire son journal prefere ou que vous soye</p>
          <p>Commenter sur les articles</p>
          <p>Possible to contacter l'editor d'un article</p>
          <p>Contribuer a un acte environnemental</p>
          <p>Et plus d'autre</p>
        </div>
        <div class="panel-footer">
          <h3>$5</h3>
          <h5>par Journal</h5>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
